/* Eliminar el scroll horizontal */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita la barra de scroll horizontal */
}


.footer-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    font-family: "Chocolate Classical Sans";
    font-weight: lighter;
    
}


.logo img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

/* Ajuste para centrar el contenido */
.redes-sociales {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 600px;
    gap: 20px;
    margin-top: 10px;
}

/* Estilo de los enlaces */
.icono {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.icono:hover {
    color: #21afbd; /* Color de hover */
}

/* Responsive */
@media (max-width: 890px) {
    .redes-sociales {
        flex-direction: column;
        text-align: center;
    }
    
    .logo img {
        width: 60px; 
    }
}
