
footer {
    background: linear-gradient(135deg, #010d41, #050025);
    color: white;
    padding: 30px 0;
    text-align: center;
    font-family: "Chocolate Classical Sans";
}

#footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Responsive */
@media (max-width: 768px) {
    #footer-contenido {
        padding: 0 20px;
    }
}


* Footer*/

.footer-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #222; 
    color: #fff;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre iconos */
    margin-top: 10px;
}

.icono {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    transition: 0.3s;
}

.icono:hover {
    color: #21afbd; /* Color de hover */
}
